<%- include("./partials/header") %>
    <div class="container">
        <div class="row">
            <div class ="col-md-12 text-center">
                <h1>Add Owner</h1>
            </div>
            <div style="width:30%; margin:30px auto;">
                <form action="/admin/addOwner/<%=currentuser_id%>" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="Owner[username]" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name=Owner[email]" placeholder="Email ID">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Owner[address]"  placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="Owner[phoneno]" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md btn-info btn-block">Submit</button>
                    </div>
                </form>
                <a class="btn btn-primary" href="/admin/<%=currentuser_id %>">Back</a>
            </div>
        </div>
    </div>
<%- include("./partials/footer") %>
