<!DOCTYPE html>
<html>
    <head>
        <title>Tenant Management System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div class="jumbotron">
            <h2 id="hd1" style="text-align: center;">Welcome To Tenant Management System</h2>
                <div style="text-align: center;">
                    <img style="width: 60% ; height: 60%" src="https://www.nriway.com/blog/wp-content/uploads/2019/04/rent.jpg">
                </div>
                <div style="text-align: center;">
                            <a class="btn btn-lg btn-primary" style="margin: 1rem;" href="/register">SignUp</a>
                            <form id="delete-form" action="/login">
                                <input type="submit" class="btn btn-lg btn-primary" value="Login">
                            </form>
                </div>  
        </div>
<%- include("partials/footer") %>