<%- include("./partials/header") %>
<div class="container">
    <br>
    <div class="row" style="text-align: center;">
        <h1>Select Login Role</h1>
        <a style="margin:2rem" href="/login/admin" class="btn btn-primary btn-lg">Login As Admin</a>
        <br>
        <a style="margin:2rem" href="/login/owner" class="btn btn-primary btn-lg">Login As Owner</a>
        <br>
        <a style="margin:2rem" href="/login/tenant" class="btn btn-primary btn-lg">Login As Tenant</a>
    </div>
</div>
<%- include("./partials/footer") %>

