<%- include("partials/header") %>   
    <h1>This is Owner page</h1>
    <a class="btn btn-primary btn-lg" href="/owner/addProperty/<%=owner_id%>">Add Property</a>
<%- include("./partials/footer") %>
