<%- include("partials/header") %>
    <h1>This is Owner page</h1>
    <% if(typeof message != 'undefined'){ %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
        </div>
    <% } %>
<%- include("./partials/footer") %>
