<%- include("partials/header") %>
    <div class="container">
        <div class="Jumbotron" style="margin:25px 0px 25px 0px; background-color:whitesmoke; padding: inherit;">
            <h1>Welcome To Tenant Management System</h1><br><br>
            <p style="font-size:20px">Following are the property currently Available for renting</p>
            <a class="btn btn-primary btn-lg" href="#" style="margin-bottom: 25px;"> Add new Property</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <p>Details of the house</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book</a>
                            <a href="#" class="btn btn-danger" role="button">Leave</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="https://images.unsplash.com/photo-1516501312919-d0cb0b7b60b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
                    <div class="caption">
                        <p>Details of the house</p>
                        <p><a href="#" class="btn btn-primary" role="button">Book</a>
                            <a href="#" class="btn btn-danger" role="button">Leave</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("partials/footer") %>