<%- include("partials/header") %>
    <div class="container" >
        <ul class="list-group" style="margin:20px 200px 20px 200px; font-size:20px; text-align: center;">
            <li class="list-group-item">View Properties <a class="btn btn-primary" href="#">Go</a></li>
            <li class="list-group-item">Pay Rent <a class="btn btn-primary " href="#">Go</a></li>
            <li class="list-group-item">Book Property <a class="btn btn-primary " href="#">Go</a></li>
            <li class="list-group-item">Message Owner <a class="btn btn-primary " href="#">Go</a></li>
            <li class="list-group-item">Leave Property <a class="btn btn-primary" href="#">Go</a></li>
        </ul>
    </div>
<%- include("./partials/footer") %>
